/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/mpdf-temp/*
/storage/tmp/*
/vendor
.env
.env.backup
.phpunit.cache/
.phpunit.result.cache
composer.phar
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
